<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Veiculo</title>  
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  
  <div class="container mt-5">
    <a href="{% url 'veiculos' %}" class="btn btn-secondary mb-3">Voltar</a>
    {% block content %}
      <h3>Veículo</h3>
      <ul class="list-group mb-3">
        <li class="list-group-item"><strong>Modelo</strong>: {{ veiculo.modelo }}</li>
        <li class="list-group-item"><strong>Marca</strong>: {{ veiculo.marca }}</li>
        <li class="list-group-item"><strong>Placa</strong>: {{ veiculo.placa }}</li>
        <li class="list-group-item"><strong>Combustível</strong>: {{ veiculo.combustivel }}</li>
        <li class="list-group-item"><strong>Ano de lançamento</strong>: {{ veiculo.ano_lancamento }}</li>
      </ul>
      <a href="{% url 'up_veiculo' veiculo.id %}" class="btn btn-primary">Atualizar dados do veículo</a>
      <a href="{% url 'del_veiculo' veiculo.id %}" class="btn btn-danger">Remover Veículo</a>
    {% endblock content %}
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
